// .schedule-container{

//     .content{
//         padding: 5px;

//         .m-s-title{

//         }
//         .container-body{
//             .pick-hour{
//                 margin: 15px 0;
//                 display: flex;
//                 justify-content: space-between;
//                 padding: 0 10px !important;
//                 // height: 200px;
//                 // border: 1px solid black
//                 button{
//                     margin: 0;
//                     padding: 0 5px;
//                     font-size: 12px;
//                     border: 1px solid black;
//                 }

//             }
//         }
//     }
// }

div._loading_overlay_wrapper{
    position: unset;
    ._loading_overlay_overlay{
        z-index: 11111001;
    }
}
button{
    border: 1px solid black;
}