.doctor-profile-container{
    // padding: 0 10px;
    // border: 1px solid black;
    .intro-doctor{
        display: flex;
       
        // border: 1px solid black;
        .intro-doctor-left{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background-image: center center no-repeat;
            background-size: cover;
            // border: 1px solid black;
            margin: 30px;
            
        }
        .intro-doctor-right{
            padding: 30px 30px;
            width: 80%;
           
            .up{
                font-size: 20px;
                font-weight: 600;
            }
            .down{

            }
        }
    }
    .schedule-doctor{
        min-height: 200px;
        display: flex;
        margin: 20px 0 0;
        .content-left{
            button{
                min-width: 160px;
                margin-left: 0;
                margin-right: 15px;

            }
            padding: 15px;
            width: 50%;
            // border: 1px solid black;
        }
        .content-right{

            padding: 15px;
            width: 50%;
            border-left: 1px solid rgb(222, 219, 219);
            .content-up{
                .content-up-title{
                    font-size: 1.5rem;
                }
                .content-up-clinic-name{
                    font-weight: 600;
                }
                .content-up-address{
                    font-weight: 600;
                }
            }
            .content-down{
                .content-down-title{
                    font-size: 1.5rem;

                }
                .content-down-cost{

                }
                .content-down-switch{
                    color: rgb(115, 230, 62);
                    cursor: pointer;
                }
                .content-down-desc1{
                    background-color: rgb(232, 231, 230);
                    .content-down-top{
                        display: flex;
                        justify-content: space-between;
                    }
                }
                .content-down-desc2{
                    background-color: rgb(212, 211, 211);
                }
            }
          
        }
        // border: 1px solid black;
    }
    .detail-info-doctor{
        // border: 1px solid black;
        background-color: rgb(246, 244, 244);
        padding: 15px;
    }
    .comment-doctor{
        // border: 1px solid black;
    }
}



